/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
.table_hover {
    background-color: #FFFFFF;
}

.table_hover:hover {
        background-color: red;
    }
.more_info {
    font-size: 1.5rem;
}
.card-img-top {
    object-fit: cover;
}


.hover-title {

    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: fixed;
    top: 5rem;
    left: 65%;
    transform: translate(-50%, 0%);
    z-index: -1;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Change width and height to scale images */
    object-fit: cover;
}

    .hover-image img {

        margin-bottom: 0;
    }
.checkbox_container {
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: 100px;
    overflow-y: scroll;