@model BreakDanceBattles.Web.ViewModels.Competitions.CreateCompetitionInputModel
@{
    this.ViewData["Title"] = "Add a new Competition";
    var countryItems = this.Model.CountryItems.Select(x => new SelectListItem(x.Value, x.Key));

}
<div class="p-5 rounded" style="background-color: #Def2f1">
    <h1 class="d-flex justify-content-center">@this.ViewData["Title"]</h1>
    <form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateTime"></label>
            <input asp-for="DateTime" class="form-control" value="@DateTime.Today" />
            <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CountryId"></label>
            <select asp-for="CountryId" class="form-control" asp-items="countryItems"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>

        <select id="CoverPhotoType" onchange="onSelectChange()">
            <option value="1">Upload an Image</option>
            <option value="2">Load from URL</option>
        </select>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" class="form-control" type="file" id="fileBrowse" accept="image/*" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" type="url" id="enterUrl" placeholder="Enter in a URL." disabled="disabled" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
        <div id="CategoryContainer">
            <label asp-for="Categories"></label>
            <a class="btn btn-success" onclick="AddMoreCategories()">+</a>
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
</div>



@section Scripts {
    <script>
        var CategoryIndex = 0;
        function AddMoreCategories() {
            $("#CategoryContainer").
                append("<div class='form-control'>Name: <input type='text' name='Categories[" + CategoryIndex + "].CategoryName' /> </div>");
            CategoryIndex++;
        }


        function onSelectChange() {
            var selectedValue = document.getElementById("CoverPhotoType").value;
            selectedValue == "1" ? upload() : link();
        }

        function upload() {
            document.getElementById("enterUrl").disabled = true;
            document.getElementById("fileBrowse").disabled = false;

        }

        function link() {
            document.getElementById("fileBrowse").disabled = true;
            document.getElementById("enterUrl").disabled = false;
        }

    </script>

}
