@model BreakDanceBattles.Web.ViewModels.Competitions.CreateCompetitionInputModel
@{
    this.ViewData["Title"] = "Add a new Competition";
    var countryItems = this.Model.CountryItems.Select(x => new SelectListItem(x.Value, x.Key));

}
<form method="post" class="col-md-6 offset-md-3">
    <h1>@this.ViewData["Title"]</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateTime"></label>
        <div class='input-group date' id='datetimepicker1'>
            <input asp-for="DateTime" type='text' class="form-control" />
            <span class="input-group-addon">
                <span asp-validation-for="Name" class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CountryId"></label>
        <select asp-for="CountryId" class="form-control" asp-items="countryItems"></select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div id="CategoryContainer">
        <label asp-for="Categories"></label>
        <a class="btn btn-success" onclick="AddMoreCategories()">+</a>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>


@section Scripts {
    <script>
        var CategoryIndex = 0;
        function AddMoreCategories() {
            $("#CategoryContainer").
                append("<div class='form-control'>Name: <input type='text' name='Categories[" + CategoryIndex + "].CategoryName' /> </div>");
            CategoryIndex++;
        }

        $(function () {
            $('#datetimepicker1').datetimepicker();
        });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
}
